<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>和平</string>
		<key>thick</key>
		<string>5cm</string>
		<key>color</key>
		<integer>0</integer>
		<key>wind</key>
		<false/>
		<key>isFinish</key>
		<false/>
		<key>date</key>
		<string>2016-05-31</string>
		<key>number</key>
		<string>3</string>
		<key>totalNumber</key>
		<string>5</string>
		<key>width</key>
		<string>1100</string>
		<key>height</key>
		<string>500</string>
		<key>glassID</key>
		<string>00000001</string>
	</dict>
	<dict>
		<key>name</key>
		<string>和平</string>
		<key>thick</key>
		<string>5cm</string>
		<key>color</key>
		<integer>0</integer>
		<key>wind</key>
		<false/>
		<key>isFinish</key>
		<false/>
		<key>date</key>
		<string>2016-05-31</string>
		<key>number</key>
		<string>3</string>
		<key>totalNumber</key>
		<string>5</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>300</string>
		<key>glassID</key>
		<string>00000002</string>
	</dict>
	<dict>
		<key>name</key>
		<string>和平</string>
		<key>thick</key>
		<string>6cm</string>
		<key>color</key>
		<integer>0</integer>
		<key>wind</key>
		<false/>
		<key>isFinish</key>
		<false/>
		<key>date</key>
		<string>2016-05-31</string>
		<key>number</key>
		<string>3</string>
		<key>totalNumber</key>
		<string>5</string>
		<key>width</key>
		<string>1100</string>
		<key>height</key>
		<string>200</string>
		<key>glassID</key>
		<string>00000003</string>
	</dict>
	<dict>
		<key>name</key>
		<string>和平</string>
		<key>thick</key>
		<string>5cm</string>
		<key>color</key>
		<integer>0</integer>
		<key>wind</key>
		<false/>
		<key>isFinish</key>
		<false/>
		<key>date</key>
		<string>2016-05-31</string>
		<key>number</key>
		<string>3</string>
		<key>totalNumber</key>
		<string>5</string>
		<key>width</key>
		<string>1100</string>
		<key>height</key>
		<string>500</string>
		<key>glassID</key>
		<string>00000004</string>
	</dict>
	<dict>
		<key>name</key>
		<string>和平</string>
		<key>totalNumber</key>
		<string>5</string>
		<key>thick</key>
		<string>5cm</string>
		<key>color</key>
		<integer>0</integer>
		<key>wind</key>
		<false/>
		<key>isFinish</key>
		<false/>
		<key>date</key>
		<string>2016-05-31</string>
		<key>number</key>
		<string>3</string>
		<key>width</key>
		<string>1100</string>
		<key>height</key>
		<string>500</string>
		<key>glassID</key>
		<string>00000005</string>
	</dict>
	<dict>
		<key>name</key>
		<string>和平</string>
		<key>totalNumber</key>
		<string>5</string>
		<key>thick</key>
		<string>5cm</string>
		<key>color</key>
		<integer>0</integer>
		<key>wind</key>
		<false/>
		<key>isFinish</key>
		<true/>
		<key>date</key>
		<string>2016-05-30</string>
		<key>number</key>
		<string>3</string>
		<key>width</key>
		<string>1100</string>
		<key>height</key>
		<string>500</string>
		<key>glassID</key>
		<string>00000006</string>
	</dict>
	<dict>
		<key>name</key>
		<string>和平</string>
		<key>totalNumber</key>
		<string>5</string>
		<key>thick</key>
		<string>5cm</string>
		<key>color</key>
		<integer>0</integer>
		<key>wind</key>
		<false/>
		<key>isFinish</key>
		<false/>
		<key>date</key>
		<string>2016-05-30</string>
		<key>number</key>
		<string>2</string>
		<key>width</key>
		<string>220</string>
		<key>height</key>
		<string>100</string>
		<key>glassID</key>
		<string>00000007</string>
	</dict>
	<dict>
		<key>name</key>
		<string>和平</string>
		<key>totalNumber</key>
		<string>5</string>
		<key>thick</key>
		<string>5cm</string>
		<key>color</key>
		<integer>0</integer>
		<key>wind</key>
		<false/>
		<key>isFinish</key>
		<false/>
		<key>date</key>
		<string>2016-05-30</string>
		<key>number</key>
		<string>3</string>
		<key>width</key>
		<string>1100</string>
		<key>height</key>
		<string>500</string>
		<key>glassID</key>
		<string>00000008</string>
	</dict>
	<dict>
		<key>name</key>
		<string>和平</string>
		<key>thick</key>
		<string>5cm</string>
		<key>totalNumber</key>
		<string>5</string>
		<key>color</key>
		<integer>0</integer>
		<key>wind</key>
		<false/>
		<key>isFinish</key>
		<false/>
		<key>date</key>
		<string>2016-05-30</string>
		<key>number</key>
		<string>1</string>
		<key>width</key>
		<string>1100</string>
		<key>height</key>
		<string>500</string>
		<key>glassID</key>
		<string>00000009</string>
	</dict>
	<dict>
		<key>name</key>
		<string>和平</string>
		<key>thick</key>
		<string>5cm</string>
		<key>color</key>
		<integer>1</integer>
		<key>wind</key>
		<false/>
		<key>totalNumber</key>
		<string>20</string>
		<key>isFinish</key>
		<false/>
		<key>date</key>
		<string>2016-05-30</string>
		<key>number</key>
		<string>20</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>200</string>
		<key>glassID</key>
		<string>000000010</string>
	</dict>
	<dict>
		<key>name</key>
		<string>和平</string>
		<key>thick</key>
		<string>5cm</string>
		<key>color</key>
		<integer>0</integer>
		<key>wind</key>
		<true/>
		<key>totalNumber</key>
		<string>5</string>
		<key>isFinish</key>
		<false/>
		<key>date</key>
		<string>2016-05-30</string>
		<key>number</key>
		<string>1</string>
		<key>width</key>
		<string>1100</string>
		<key>height</key>
		<string>500</string>
		<key>glassID</key>
		<string>000000011</string>
	</dict>
</array>
</plist>
