<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iPhoneGLASS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F06A6A81CE05ADD006B9CA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F06A6C11CE05ADD006B9CA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F06A6CC1CE05ADD006B9CA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
