<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<date>2019-09-09T09:18:23Z</date>
		<key>content</key>
		<string>白玻钢化玻璃价格:5mm   6mm  8mm 10mm</string>
		<key>title</key>
		<string>价格调整</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2019-09-08T09:18:23Z</date>
		<key>content</key>
		<string>白玻钢化玻璃价格:5mm   6mm  8mm 10mm</string>
		<key>title</key>
		<string>价格调整</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2019-09-08T09:18:23Z</date>
		<key>content</key>
		<string>白玻钢化玻璃价格:5mm   6mm  8mm 10mm</string>
		<key>title</key>
		<string>价格调整</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2019-09-08T09:18:23Z</date>
		<key>content</key>
		<string>白玻钢化玻璃价格:5mm   6mm  8mm 10mm</string>
		<key>title</key>
		<string>价格调整</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2019-09-08T09:18:23Z</date>
		<key>content</key>
		<string>白玻钢化玻璃价格:5mm   6mm  8mm 10mm</string>
		<key>title</key>
		<string>价格调整</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2019-09-08T09:18:23Z</date>
		<key>content</key>
		<string>白玻钢化玻璃价格:5mm   6mm  8mm 10mm</string>
		<key>title</key>
		<string>价格调整</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2019-09-08T09:18:23Z</date>
		<key>content</key>
		<string>白玻钢化玻璃价格:5mm   6mm  8mm 10mm</string>
		<key>title</key>
		<string>价格调整</string>
	</dict>
</array>
</plist>
